.display-container {
    max-width: 1200px;
    min-width: 300px;
    max-width: 90%;
    background-color: white;
    height: auto;
    margin: 0 auto;
    margin-top: -50px;
    position: relative;
    z-index: 1;
    border-radius: 2px;
    box-shadow: 2px 2px 5px 0px #5f5f5f;
    padding: 20px 0;
}

.book-card {
    width: 95%;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 15px;
    a {
        text-decoration: none;
        cursor: pointer;
        color: #007cde;
        font-size: 1.4rem; 
    }

    p {
        font-size: 1.1rem;
    }

}

// table {
//     margin: 0 auto;
//     font-size: 32px;
// }

// thead {
//     background-color: #673AB7;
//     color: white;
//     border: none;
//     font-size: 0.7em;
// }

// table, th, td {
//     border: 0.5px solid #b3b3b3;
//     border-collapse: collapse;
//     box-shadow: none;
// }

// th, td {
//     padding: 10px;
// }

// th {
//     text-align: left;
// }

// tbody {
//     font-size: 0.6em;
//     color: black;
//     text-align: left;
//     tr:nth-child(even) {
//         background-color: #dfccff;
//     }
// }



// @media(max-width: 500px) {
//     thead {
//         font-size: 0.4em;
//     }
//     tbody {
//         font-size: 0.4em;
//     }
//     th, td {
//         padding: 5px;
//     }
// }