/node_modules
/gutenberg
django_projects\db.sqlite
E:\programming\Python\django_projects\individual-project\backendapp\dataset_build\cache.sqlite
E:\programming\Python\django_projects\individual-project\backendapp\dataset_build\cache.sqlite-journal